faker
Pandas==1.4.0
numpy
xgboost
python-dotenv
parsedatetime
hsfs==3.4.7
hopsworks
jupyter
ipykernel
nbconvert
scikit-learn
plotly
Pillow
seaborn
xgboost
joblib==1.1.0
textblob
tensorflow
#torch
geopy
dataframe_image
great-expectations
jinja2
tabulate
