faker
Pandas==1.5.1
numpy
xgboost
python-dotenv
parsedatetime
hsfs==3.4.7
hopsworks
jupyter
ipykernel
nbconvert
scikit-learn
plotly
Pillow
seaborn
xgboost
joblib==1.1.0
textblob
tensorflow
#torch
geopy
dataframe_image==0.2.3
great-expectations
jinja2
tabulate
